// 1. Base styles
@use 'base/variables';
@use 'base/media-queries';
@use 'base/base';
@use 'base/utilities';

// 2. Layout
@use 'layout/navbar';
@use 'layout/hero';
@use 'layout/footer';
@use 'layout/video';
@use 'layout/video-controlli';
@use 'layout/marquee';
@use 'layout/voice-to-insights';

// 3. Components
@use 'components/buttons';
@use 'components/cards';
@use 'components/founder-message';
@use 'components/form';
@use 'components/scroll-to-top';

// 4. Pages
@use 'pages/thank-you';