

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0 !important;
}




/*
 * Transizioni CSS per i componenti React.
 * Queste classi sono utilizzate da `CSSTransition` di `react-transition-group`
 * in `pages/_app.js` per gestire le transizioni tra le pagine.
 */
.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}
.page-transition-exit {
  opacity: 1;
  position: absolute;
  width: 100%;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}