@use '../base/variables';
@use '../base/media-queries';



.video-container-offset {
    margin-top: -45px;
}

// Classe per aumentare la dimensione del font del lead
.lead-custom-size {
    font-size: 1.4rem;
}

// Effetto ombra per il testo
.text-shadow-effect {
    text-shadow: 0 0 10px rgba(var(--bismart-gold-rgb), 0.3), 0 0 20px rgba(var(--bismart-gold-rgb), 0.2);
}

  


//////////////////////////////////////////////
///  SPAZIATURA VERTICALE SEZIONI
////////////////////////////////////////////////
.section-padding-bottom {
    padding-bottom: 8.5rem;

    @include media-queries.media-down(variables.$breakpoint-992) {
        padding-bottom: 4rem;
    }

    @include media-queries.media-down(variables.$breakpoint-768) {
        padding-bottom: 1.5rem;
    }
}

//////////////////////
///  testo dinamico in video-controlli
/// titolo slideshow prima del footer
///////////////////

.custom-text {
    font-size: 1.2rem !important ; /* Default font size */

    @include media-queries.media-down(variables.$breakpoint-576) {
        font-size: 1.2rem !important; /* Reduced font size for smaller screens */
    }
}

