@use '../base/variables';
@use '../base/media-queries';

#hero {
    position: sticky;
    top: 0;
    height: calc(100vh - variables.$navbar-height);
    overflow: hidden; // Nasconde le immagini laterali che escono dai bordi
    
    .container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.copy-container {
    
    max-width: 70%;  // LARGHEZZA CONTAINER
    
    @include media-queries.media-down(variables.$breakpoint-992) {
        max-width: 100%;
    }
    
    
    &__brand {
        font-size: 64px;
        font-weight: 600;
        flex-wrap: nowrap;
        margin-bottom: 25px;
        
        .brand__text {
            white-space: nowrap;
        }
    }
    
    &__payoff {
        font-size: 42px;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 25px;
    }
    
    &__description {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 25px;
    }
    
    @include media-queries.media-down(variables.$breakpoint-1400) {
        &__brand, &__payoff, &__description {
            margin-bottom: 20px;
        }
    }
    
    @include media-queries.media-down(variables.$breakpoint-1200) {
        &__brand {
            font-size: 45px;
        }
        &__payoff {
            font-size: 30px;
        }
    }
    
    @include media-queries.media-down(variables.$breakpoint-992) {
        max-width: 100%; // LARGHEZZA CONTAINER
    }
    
    @include media-queries.media-down(variables.$breakpoint-768) {       
        &__brand {
            font-size: 35px;
        }
        &__payoff {
            font-size: 25px;
        }
        &__description {
            font-size: 18px;
        }
    }
}

.hero-side-image {
    position: absolute;
    
    .hero-cloud {
        mask-size: contain;
        mask-repeat: no-repeat;
        aspect-ratio: 2;
        
        .cloud-background {
            background: var(--bismart-gold-gradient);
            width: 100%;
            height: 100%;
        }
    }
    
    &--left {
        top: 35%;
        left: -21rem;
        
        .hero-cloud {
            mask-image: url('#{variables.$base-path}/media/cloud_sx.webp');
            width: 32rem;
            
            @include media-queries.media-down(variables.$breakpoint-1400) {
                width: 19.5rem;
            }
            @include media-queries.media-down(variables.$breakpoint-768) {
                width: 19.5rem;
            }
        }
        
        @include media-queries.media-down(variables.$breakpoint-1400) {
            display: block;
            left: 4rem;
            top: 1%;
        }
        @include media-queries.media-down(variables.$breakpoint-768) {
            display: block;
            left: 4rem;
            top: 1%;
        }
    }
    
    &--right {
        top: 30%;
        right: -28rem;
        
        .hero-cloud {
            mask-image: url('#{variables.$base-path}/media/cloud_dx.webp');
            width: 37.5rem;
            
            @include media-queries.media-down(variables.$breakpoint-1400) {
                width: 19.5rem;
            }
        }
        @include media-queries.media-down(variables.$breakpoint-1400) {
            top: 0%;
            right: -3rem;
        }
        @include media-queries.media-down(variables.$breakpoint-768) {
            display: none;
        }
    }
}

.hero-animated-wrapper {
    animation: spostamentoOrizzontale 4s ease-in-out infinite alternate;
}

@keyframes spostamentoOrizzontale {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-15px); // Sposta a sinistra di 10px
    }
    100% {
        transform: translateX(0);
    }
}

.mouse-scroll-icon {
    z-index: 100; // Ensure it's above other content
    cursor: pointer; // Indicate that the element is clickable

    animation: moveUpDown 2.5s infinite ease-in-out;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
