/*
 * Stili per la barra di navigazione
 * -------------------------------------------------------------------------- */

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; // Assicura che la navbar sia sempre in primo piano
    //background-color: var(--bismart-blue) !important;
    transition: all 0.3s ease-in-out;

    h1 {
        font-size: 1.5rem !important; // fs-3
        transition: font-size 0.3s ease-in-out;
    }

    // Stile applicato allo scroll della pagina
    &.navbar-scrolled {
        h1 {
            color: var(--bismart-gold-light) !important;
        }
    }

    .nav-link {
        font-weight: 500;
    }

}
.navbar-brand {
    display: flex;
    align-items: center ;
}



#applications-dropdown {
  color: var(--bismart-gold-light) !important;
}

/* For the actual dropdown menu container (the box that appears) */
.dropdown-menu {
  // Styles for the entire menu box
  // Example:
  // background-color: #343339; // Dark background for the menu
  // border: 1px solid rgba(255, 255, 255, 0.1); // Subtle white border
}

/* For the individual items (links) inside the dropdown menu */
.dropdown-menu .dropdown-item {
  // Styles for each item's background, padding, color etc.
  // Example:
  // color: #E0E0E0; // Light gray text
  // padding: 0.5rem 1rem; // Example padding
  // background-color: transparent; // Ensure default is transparent
}

.dropdown-menu .dropdown-item.active {
  // Styles for the active item
  // Example:
    background-color: var(--bismart-gold-light) !important; // Use your theme blue for active
    color: var(--bismart-blue) !important;// White text for active
}
.dropdown-menu .dropdown-item:active {
  // Styles for the active item
  // Example:
    background-color: var(--bismart-gold-light) !important; // Use your theme blue for active
    color: var(--bismart-blue) !important;// White text for active
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  // Styles for hover/focus states
  // Example:
  // background-color: #495057; // Slightly lighter dark on hover
  // color: #fff; // White text on hover
}

