@use '../base/variables';

.menu-overlay {
    position: fixed;
    top: variables.$navbar-height;
    left: 0;
    width: 100%;
    height: calc(100vh - variables.$navbar-height);
    background-color: rgba(11, 15, 69, 0.95); // Colore di sfondo con trasparenza
    z-index: 1000; // Assicura che sia sopra altri contenuti, ma sotto la navbar
    -webkit-backdrop-filter: blur(5px); // Per compatibilità Safari
    backdrop-filter: blur(5px); // Effetto sfocatura dello sfondo
    display: flex;
    flex-direction: column;
    //align-items: center;
    border-top: 1px solid var(--color-text-secondary);

    // Stato iniziale nascosto e transizione
    opacity: 0;
    visibility: hidden;
    //transition: opacity 3s ease-in-out, visibility 0.3s ease-in-out; // Transizione di 300ms

    &.is-open { // Classe aggiunta quando il menu è aperto
        opacity: 1;
        visibility: visible;
    }

    h6 {
      color: var(--bismart-gold-light);
      padding: 25px 12px;
      font-weight: 700;
      color: white;
    }

    ul {
        //margin-top: 3rem
    }

    ul li {
        padding: 0.75rem;
        padding-left: 15px;
        //font-size: 20px;
        color: var(--bismart-gold-light);
        font-weight: 400;
    }

    ul li a {
      text-decoration: none; // Rimuove la sottolineatura
      color: inherit; // Assicura che il colore venga ereditato o definito altrove
    }

    ul li.active {
      background-color: #4b4b65; // Colore scuro per il link attivo
      font-weight: 600;
    }

    ul li.active a {
      //color: var(--bismart-blue);
      //font-weight: bold;
    }
}
