.thank-you-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    #navbar {
        position: static;
    }

    .page-content-wrapper {
        flex-grow: 1;
        padding-bottom: 4.5rem;
    }

    .lead-custom-size {
        max-width: 60ch;
        margin-left: auto;
        margin-right: auto;
    }
}