/*
 * Stili per il footer
 * -------------------------------------------------------------------------- */

#footer {
    border-top: 1px solid #E5E7EB;
}

.footer__social-icon i {
    font-size: 1.5rem;
    color: #6c757d;
    transition: color 0.3s ease;
}

.footer__social-icon:hover i {
    color: var(--bismart-gold);
}