/*
 * Stili per il footer
 * -------------------------------------------------------------------------- */

#footer {
    border-top: 1px solid #555555;
}

#footer p, #footer i, #footer a {
    color: red;
    color: var(--color-text-secondary) !important
}

.footer__social-icon i {
    font-size: 1.5rem;
    color: var(--color-text-secondary) !important
}