@use '../base/variables';
@use '../base/media-queries';

#hero {
    position: sticky;
    top: 0;
    height: calc(100vh - 74px);
    overflow: hidden; // Nasconde le immagini laterali che escono dai bordi
    //background-color: red;
    .container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .copy-container{
        max-width: 60%;
        @include media-queries.media-down(variables.$breakpoint-md) {
            max-width: 100%;
        }
    }
}

.hero-side-image {
	position: absolute;

	// Regole generali per tutte le cloud all'interno di hero-side-image
	.hero-cloud {
		mask-size: contain;
		mask-repeat: no-repeat;
		aspect-ratio: 2;

		.cloud-background {
			background: var(--bismart-gold-gradient);
			width: 100%;
			height: 100%;
		}
	}

	&--left {
		top: 35%;
		left: -21rem;

		.hero-cloud {
			mask-image: url('/media/cloud_sx.webp');
			width: 512px;

			@include media-queries.media-down(variables.$breakpoint-xxl) {
				width: 400px;
			}
			@include media-queries.media-down(variables.$breakpoint-xl) {
				width: 312px;
			}
			@include media-queries.media-down(variables.$breakpoint-md) {
				width: 312px;
			}
		}

		@include media-queries.media-down(variables.$breakpoint-xxl) {
			top: 7%;
			left: 0rem;
		}
		@include media-queries.media-down(variables.$breakpoint-xl) {
			top: 4%;
			left: -3rem;
		}
		@include media-queries.media-down(variables.$breakpoint-md) {
			left: 4rem;
			top: 5%;
		}
	}

	&--right {
		top: 30%;
		right: -28rem;

		.hero-cloud {
			mask-image: url('/media/cloud_dx.webp');
			width: 600px;

			@include media-queries.media-down(variables.$breakpoint-xxl) {
				width: 400px;
			}
			@include media-queries.media-down(variables.$breakpoint-xl) {
				width: 312px;
			}
		}

		@include media-queries.media-down(variables.$breakpoint-xxl) {
			top: 6%;
			right: -5rem;
		}
		@include media-queries.media-down(variables.$breakpoint-xl) {
			top: 0%;
			right: -3rem;
		}
		@include media-queries.media-down(variables.$breakpoint-md) {
			display: none;
		}
	}
}

.hero-animated-wrapper {
    animation: spostamentoOrizzontale 4s ease-in-out infinite alternate;
}

@keyframes spostamentoOrizzontale {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-15px); // Sposta a sinistra di 10px
    }
    100% {
        transform: translateX(0);
    }
}




