/*
 * Stili per la barra di navigazione
 * -------------------------------------------------------------------------- */

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; // Assicura che la navbar sia sempre in primo piano
    //background-color: var(--bismart-blue) !important;
    transition: all 0.3s ease-in-out;

    // Selettori per lo stato normale
    img {
        height: 50px;
        transition: height 0.3s ease-in-out;
    }
    
    h1 {
        font-size: 1.5rem; // fs-3
        transition: font-size 0.3s ease-in-out;
    }

    // Stile applicato allo scroll della pagina
    &.navbar-scrolled {
        //box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        //padding: 15px 0;
        //background-color: red;

        // Selettori per lo stato scrolled
        // img {
        //     height: 45px; // logo più piccolo quando si scrolla
        // }
        
        h1 {
            //font-size: 1.25rem; // testo più piccolo quando si scrolla
            color: var(--bismart-gold-light) !important;
        }
    }

    .nav-link {
        font-weight: 500;
    }

}
