// Stili per la sezione Voice to Insights

#voiceToInsights {
    .cards-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 281px);
        gap: 1.5rem;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 281px);
            .bi {
                font-size: 35px !important;
            }
        }
    }
}
