/*
 * Stili per i bottoni
 * -------------------------------------------------------------------------- */

.cta-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 40px;
    font-size: 1.25rem;
    max-width: 300px; /* Limita la larghezza massima per evitare che diventi troppo esteso */
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: var(--bismart-blue);
    color: var(--color-white);

    &:hover {
        background-color: var(--bismart-dark-grey-blue); // Un blu leggermente diverso per l'hover
        color: var(--color-white);
        box-shadow: 0 0 15px rgba(var(--bismart-blue-rgb), 0.6);
    }
}

.hero-button {
    // Stile per il bottone principale della hero section
    color: var(--bismart-blue);
    border: 2px solid var(--bismart-blue);
    transition: all 0.6s ease;
    box-shadow: 0 6px 20px rgba(var(--bismart-blue-rgb), 0.25);
    position: relative;
    overflow: hidden;
    text-decoration: none; // Rimuove la sottolineatura del link

    // Overlay con gradiente per l'effetto di transizione
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--bismart-gold-gradient-to-bottom);
        z-index: 2;
        transition: opacity 0.6s ease;
        border-radius: inherit;
    }

    .hero-button__content {
        position: relative;
        z-index: 3;
        font-size: 1.25rem;
    }

    &:hover {
        background-color: var(--bismart-blue);
        border-color: var(--bismart-gold);
        box-shadow: 0 4px 15px rgba(var(--bismart-blue-rgb), 0.2);
        transform: translateY(0);
        color: white !important;

        &::before {
            opacity: 0;
        }
    }
}

/* Stile per i bottoni primari custom */
.btn-primary.color-bg-primary-btn {
    background-color: var(--bismart-gold-light);
    color: var(--color-white);
    border: none;

    &:hover {
        background-color: var(--bismart-gold-light-hover); // Usata variabile
    }
}