@use '../base/variables';
@use '../base/media-queries';

//////////////////////
///  COLORI SFONDO SEZIONI
///////////////////
/// 


body,
#navbar,
//#dettaglio
#hero,
//#video
// #applicazioni,
// #founder-message,
// #form 
#footer
{
    background-color: var(--bismart-blue);
}
#form {
    background: linear-gradient(to bottom, #010336 0%, #4a5f9f 45%, #4a5f9f 55%, #010336 100%);
}

//////////////////////////////////////////////
///  SPAZIATURA VERTICALE SEZIONI
////////////////////////////////////////////////
.section-padding {
    padding-bottom: 4.5rem;

    @include media-queries.media-down(variables.$breakpoint-lg) {
        padding-bottom: 2rem;
    }

    @include media-queries.media-down(variables.$breakpoint-md) {
        padding-bottom: 1.5rem;
    }
}

// Contenuto principale della pagina
.main-content {
    position: relative;
}

.container-offset {
    margin-top: -60px;
}

  
//////////////////////
///  CUSTOM CONTAINER WIDTH
///////////////////
#video .container {
    width: 1000px;
}  
#voiceToInsights .container,
#form .container,
#founder-message .container {
    max-width: 1000px;
}

@include media-queries.media-down(variables.$breakpoint-sm) {
    #video .container {
      width: 500px;
      margin-left: 10px;
  }
}
  